flask
flask_sqlalchemy
flask_script
flask_migrate
flask_testing
flask_marshmallow
marshmallow-sqlalchemy
marshmallow
flask_login
cryptography
mimesis
psycopg2-binary
flask_cors
geopy
phonenumbers
email-validator
gunicorn
requests
python-dotenv
flake8
